@import "variables";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(123, 63, 251);
  background: radial-gradient(
    circle,
    rgba(123, 63, 251, 1) 0%,
    rgba(67, 26, 83, 1) 100%
  );
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &__container:first-child {
    flex-basis: 30%;
  }

  &__container:last-child {
    flex-basis: 70%;
  }
}

h1 {
  border-bottom: 2px solid #ff0cff;
  color: #ff0990;
  margin: 25px auto;
  padding-bottom: 25px;
  text-align: center;
  font-weight: 600;
  font-size: 5rem;
  width: 65%;
}

.scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  p {
    color: #3da6ec;
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-transform: uppercase;

    span {
      color: #afcbff;
      font-size: 3rem;
      font-weight: 600;
    }

    &:first-child {
      font-size: 3rem;
      font-weight: 600;
      flex-basis: 100%;
      text-align: center;
    }
  }
}

.game {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;

  &__board {
    display: flex;
    margin-bottom: 50px;

    [data-column] {
      border: 2px solid black;
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      [data-row] {
        height: 71px;
        margin: 5px 3px;
        width: 71px;

        &.active.red {
          background-image: url("../src/red_chip.svg");
        }

        &.active.yellow {
          background-image: url("../src/yellow_chip.svg");
        }
      }

      &.active::after {
        content: "";
        position: absolute;
        bottom: 105%;
        left: 3px;
        width: 71px;
        height: 71px;
      }

      &.active.red::after {
        background-image: url("../src/red_chip.svg");
      }

      &.active.yellow::after {
        background-image: url("../src/yellow_chip.svg");
      }
    }
  }

  &__board-img {
    pointer-events: none;
    position: absolute;
    user-select: none;
    width: 730px;
  }
}

.windowError {
  @include modal;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(30px);
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow: hidden;
  top: 0;
  z-index: 1;

  p {
    color: #fff;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
  }
}

.windowWin {
  @include modal;

  &__wrapper {
    @include modalWrapper;
    max-width: 450px;

    p {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 40px;
    }

    button {
      @include modalButton;

      i {
        font-size: 3rem;
      }
    }
  }
}

.rulesButton {
  @include modalButton;
  border-radius: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: 60px;
}

.restartButton {
  @include modalButton;
  background: transparent;
  bottom: 20px;
  color: #888;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 10px;
  position: absolute;
  right: 20px;
  transition: background-color 0, color 0.3s;

  &:hover {
    background: transparent;
    color: rgb(255, 0, 0);
  }
}

.windowRules {
  @include modal;

  &__wrapper {
    @include modalWrapper;
    align-items: flex-start;
    padding: 50px;

    p:first-child {
      align-self: center;
      color: #ff0990;
      font-size: 5rem;
      text-align: center;
    }

    p {
      color: #fff;
      font-size: 1.75rem;
      margin-bottom: 40px;
      text-align: left;
    }
  }

  button {
    @include modalButton;
    align-self: center;
    border-radius: 20px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 780px) {
  body,
  .game {
    overflow: hidden;
  }

  .windowError {
    display: flex;
  }
}
